{# Macro: convert_ranges

  This macro takes a list of ranges and converts it into a string representation.
  Each item in the list should be a dictionary with 'from' and optionally 'to' keys.
  If 'to' is provided, it represents a range from 'from' to 'to'.
  If 'to' is not provided, it represents a single primitive.

  If the allowed ranges are not defined, the macro will return value defined
  by the 'default_range' parameter passed from the parent template.

   The macro can be called from the parent template as follows:

  {% import 'ndfc_utils.j2' as vlan_macro with context %}
  ...
  {{ convert_ranges(<allowed_ranges> variable, <default_range> parameter) | trim }}
  **NOTE: trim is currently required when calling the macro to remove empty space
  
  VLAN ranges transformation example:

  Input:
  trunk_allowed_vlans:
    - from: 10
      to: 20
    - from: 50

  Output:
  "10-20,50"

  Input:
  trunk_allowed_vlans: not defined

  Output:
  "none"
#}

{%- macro convert_ranges(ranges, default_range) -%}
    {%- if ranges is defined -%}
        {%- set _ranges = [] -%}
        {%- for range in ranges -%}
            {%- if range.to is defined -%}
                {%- set range_str = range.from ~ ('-' ~ range.to) -%}
            {%- else -%}
                {%- set range_str = range.from -%}
            {%- endif -%}
            {%- set _ = _ranges.append(range_str) -%}
        {%- endfor -%}
        {{ _ranges | join(',') }}
    {%- elif ranges is not defined -%}
        {%- if default_range is iterable and (default_range is not string and default_range is not mapping) -%}
          {%- set _default_range = [] -%}
          {%- for range in default_range -%}
              {%- if range.to is defined -%}
                  {%- set range_str = range.from ~ ('-' ~ range.to) -%}
              {%- else -%}
                  {%- set range_str = range.from -%}
              {%- endif -%}
              {%- set _ = _default_range.append(range_str) -%}
          {%- endfor -%}
          {{ _default_range | join(',') }}
        {%- else -%}
          {{ default_range }}
        {% endif %}
    {%- endif -%}
{%- endmacro -%}
