{% if item.ospf is defined and item.ospf %}
  {% include 'ndfc_vrf_lite/ndfc_vrf_lite_ospf.j2' %}
{% endif %}
{% if item.ospfv3 is defined and item.ospfv3 %}
  {% include 'ndfc_vrf_lite/ndfc_vrf_lite_ospfv3.j2' %}
{% endif %}
{% if (item.bgp is defined and item.bgp) or switch_item.bgp_peers or switch_item.bgp %}
  {% include 'ndfc_vrf_lite/ndfc_vrf_lite_ebgp.j2' %}
{% endif %}
{% if switch_item.static_routes %}
  {% include 'ndfc_vrf_lite/ndfc_vrf_lite_static.j2' %}
{% endif %}
