[
{% for network in MD_Extended.vxlan.overlay_services.networks %}
{% if network['network_attach_group'] is defined %}
  {% for attach_group in MD_Extended.vxlan.overlay_services.network_attach_groups %}
    {% if network.network_attach_group is defined and network.network_attach_group == attach_group.name %}
      {% for switch in attach_group['switches'] %}
      {
      'networkName':'{{ network['name'] }}',
      'switchName': '{{ switch['hostname'] }}',
        {% for switch_inv in switches_in_fabric %}
          {% if switch_inv.logicalName == switch['hostname'] %}
          'switchIP':'{{ switch_inv.ipAddress }}',
          'switchSN':'{{ switch_inv.serialNumber }}',
          'peerSwitchName':'{{ switch_inv.intentedpeerName | default("") }}',
          'fabricName':'{{ switch_inv.fabricName }}',
          'clusterName':'{{ switch_inv.clusterName }}',
          'ndfcIpAddress':'{{ switch_inv.clusterIp }}',
          {% if switch.tors is defined %}
            {% set torString = '' %}
            {% set torPortString = '' %}
            {% for tor in switch.tors %}
            {% if loop.last %}
              {% set torString = torString ~ tor.hostname  %}
              {% set torPortString = torPortString ~  ' ' ~ tor.hostname ~ '(' ~ tor.ports | join(",") ~ ')' %}
              'allSwitches':'["{{ switch['hostname'] }}","{{ switch_inv.intentedpeerName }}","{{ torString }}"]',
              'ports':'{{ switch.hostname }}({{ switch.ports | join(",") }}){{ torPortString }}',
              'torSwitches':'{{ torString }}'
            {% else %}
              {% set torPortString = torPortString ~ ' ' ~ tor.hostname ~ '(' ~ tor.ports | join(",") ~ '),' %}
              {% set torString = torString ~ tor.hostname ~ '",' %}
            {% endif %}
            {% endfor %}
          {% else %}
            'ports':'{{ switch.hostname }}({{ switch.ports | join(",") }})',
            'torSwitches': null,
            'allSwitches':["{{ switch['hostname'] }}","{{ switch_inv.intentedpeerName }}"]
          {% endif %}
          {% endif %}
        {% endfor %}




      }
      {% if not loop.last %},{% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% if not loop.last %},{% endif %}
{% endif %}
{% endfor %}
]