[{% for network in MD_Extended.vxlan.overlay_services.networks %}
  {% for attach_group in MD_Extended.vxlan.overlay_services.network_attach_groups %}
    {% if network.network_attach_group == attach_group.name %}
      {% for switch in attach_group['switches']%}
      {
      'networkName':'{{ network['name'] }}',
      'switchName': '{{ switch['hostname']}}',
        {% for switch_inv in switches_in_fabric%}
          {% if switch_inv.logicalName == switch['hostname']%}
          'switchIP':'{{switch_inv.ipAddress}}',
          'switchSN':'{{switch_inv.serialNumber}}',
          'peerSwitchName':'{{switch_inv.intentedpeerName}}',
          'fabricName':'{{switch_inv.fabricName}}',
          'clusterName':'{{switch_inv.clusterName}}',
          'ndfcIpAddress':'{{switch_inv.clusterIp}}',
          'allSwitches':'["{{ switch['hostname']}}","{{switch_inv.intentedpeerName}}"]',
          {% endif %}
        {% endfor %}
      'ports':'{{switch.hostname}}({{switch.ports | join(",")}})',
      'torSwitches':'null'
      }
      {% if not loop.last %},{% endif%}
      {% endfor %}
    {% endif %}
  {% endfor %}
  {% if not loop.last %},{% endif%}
  {% endfor %}
]