{% if item.ipv4_prefix_lists is defined and item.ipv4_prefix_lists %}
    {% include 'ndfc_prefix_list.j2' %}
{% endif %}
{% if item.route_maps is defined and item.route_maps %}
    {% include 'ndfc_route_map.j2' %}
{% endif %}