# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

# Copy the current golden and extended service model data to the host
- name: Copy Service Model Data to Host
  ansible.builtin.copy:
    content: "{{ MD | to_nice_json }}"
    dest: "{{ role_path }}/files/{{ MD_Extended.vxlan.fabric.name }}_service_model_golden.json"
    mode: preserve
    force: true
  delegate_to: localhost

# Copy the extended golden and extended service model data to the host
- name: Copy Extended Service Model Data to Host
  ansible.builtin.copy:
    content: "{{ MD_Extended | to_nice_json }}"
    dest: "{{ role_path }}/files/{{ MD_Extended.vxlan.fabric.name }}_service_model_extended.json"
    mode: preserve
    force: true
  delegate_to: localhost

# Read current golden service model data into a variable called 'smd_golden_current'
- name: Read Current Service Model Data from Host
  ansible.builtin.include_vars:
    file: "{{ role_path }}/files/{{ MD_Extended.vxlan.fabric.name }}_service_model_golden.json"
  register: smd_golden_current
  delegate_to: localhost

- name: Display Model File Changes
  ansible.utils.fact_diff:
    before: "{{ smd_golden_previous }}"
    after: "{{ smd_golden_current }}"
  register: smd_golden_diff
  when: check_roles['save_previous']
  delegate_to: localhost

- name: Mark All Stages Completed When No Model Changes Detected
  cisco.nac_dc_vxlan.common.run_map:
    model_data: "{{ MD_Extended }}"
    stage: role_all_completed
  when:
    - check_roles['save_previous']
    - smd_golden_diff.diff_lines | length == 0
    - smd_golden_diff.diff_text | length == 0
    - run_map_read_result.diff_run is true|bool
    - force_run_all is false|bool
  delegate_to: localhost

- debug: msg="{{ run_map_read_result}}"

- name: No Model Changes Detected
  ansible.builtin.meta: end_play
  when:
    - check_roles['save_previous']
    - smd_golden_diff.diff_lines | length == 0
    - smd_golden_diff.diff_text | length == 0
    - run_map_read_result.diff_run is true|bool
    - force_run_all is false|bool
  delegate_to: localhost

# ------------------------------------------------------------------------
# Remove all files from the previous run if force_run_all is true
# ------------------------------------------------------------------------
- name: Cleanup Files from Previous Run if run_map requires it
  ansible.builtin.import_tasks: cleanup_model_files.yml
  when:
    - ((force_run_all is defined) and (force_run_all is true|bool))
  delegate_to: localhost