# Copyright (c) 2025 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Display Removing Unmanaged Fabric Networks Message
  ansible.builtin.debug:
    msg: "Removing Unmanaged Fabric Networks. This could take several minutes..."
  when:
    - (multisite_network_delete_mode is defined) and (multisite_network_delete_mode is true|bool)

- name: Display Flag Values - Changes Detected Networks
  cisco.nac_dc_vxlan.common.change_flag_manager:
    fabric_type: "{{ MD_Extended.vxlan.fabric.type }}"
    fabric_name: "{{ MD_Extended.vxlan.fabric.name }}"
    role_path: "{{ common_role_path }}"
    operation: display
  delegate_to: localhost
  when:
    - (multisite_network_delete_mode is defined) and (multisite_network_delete_mode is true|bool)

- name: Set Network Config to MultiSite VRF Data
  ansible.builtin.set_fact:
    network_config: "{{ MD_Multisite }}"

- name: Override Network Config Based On Diff Run Settings
  ansible.builtin.set_fact:
    network_config: "{{ network_diff_result.removed }}"
  when:
    - run_map_read_result.diff_run is true|bool

- name: Remove Unmanaged Fabric Networks in Nexus Dashboard
  cisco.nac_dc_vxlan.dtc.unmanaged_child_fabric_networks:
    fabric: "{{ MD_Extended.vxlan.fabric.name }}"
    data: "{{ network_config }}"
  register: child_fabric_network_results
  when:
    - multisite_network_delete_mode is defined
    - multisite_network_delete_mode is true | bool
    - change_flags_multisite.changes_detected_networks
    - MD_Extended.vxlan.multisite.child_fabrics is defined and MD_Extended.vxlan.multisite.child_fabrics | length > 0

- name: Skip Remove Unmanaged Fabric Networks Task If multisite_network_delete_mode is False
  ansible.builtin.debug:
    msg:
      - "---------------------------------------------------------------------------------------------------------------"
      - "+ SKIPPING Remove Unmanaged Fabric Networks task because multisite_network_delete_mode flag is set to False   +"
      - "---------------------------------------------------------------------------------------------------------------"
  when: not ((multisite_network_delete_mode is defined) and (multisite_network_delete_mode is true|bool))
