# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT
---

- name: Set vars_common Based On Fabric Type - VXLAN_EVPN/iBGP_VXLAN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_vxlan }}"
  when: MD_Extended.vxlan.fabric.type == "VXLAN_EVPN"

- name: Set vars_common Based On Fabric Type - eBGP_VXLAN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_ebgp_vxlan }}"
  when: MD_Extended.vxlan.fabric.type == "eBGP_VXLAN"

- name: Set vars_common Based On Fabric Type - MSD
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_msd }}"
  when: MD_Extended.vxlan.fabric.type == "MSD"

- name: Set vars_common Based On Fabric Type - ISN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_isn }}"
  when: MD_Extended.vxlan.fabric.type == "ISN"

- name: Set vars_common Based On Fabric Type - External
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_external }}"
  when: MD_Extended.vxlan.fabric.type == "External"

- name: Display Removing Unmanaged vPC Peering Message
  ansible.builtin.debug:
    msg: "Removing Unmanaged vPC Peering. This could take several minutes..."
  when:
    - switch_list.response.DATA | length > 0
    - (vpc_delete_mode is defined) and (vpc_delete_mode is true|bool)

- name: Remove Unmanaged Fabric vPC Peering in Nexus Dashboard - Diff Run True
  cisco.dcnm.dcnm_vpc_pair:
    src_fabric: "{{ MD_Extended.vxlan.fabric.name }}"
    deploy: true
    state: deleted
    config: "{{ vars_common_local.vpc_peering_diff_result.removed }}"
  vars:
    ansible_command_timeout: 1000
    ansible_connect_timeout: 1000
  when:
    - switch_list.response.DATA | length > 0
    - vars_common_local.vpc_peering_diff_result.removed | length > 0
    - (vpc_delete_mode is defined) and (vpc_delete_mode is true|bool)
    - run_map_read_result.diff_run is true|bool
    - force_run_all is false|bool

- debug: msg="Config {{ vars_common_local.vpc_peering_diff_result.removed }}"
- debug: msg="{{ vars_common_local.vpc_peering_diff_result.removed | length }}"
- name: Sleep for 5 seconds
  ansible.builtin.pause:
    seconds: 5

- name: Remove Unmanaged vPC Peering from Nexus Dashboard - Diff Run False
  cisco.dcnm.dcnm_vpc_pair:
    src_fabric: "{{ MD_Extended.vxlan.fabric.name }}"
    deploy: true
    state: overridden
    config: "{{ vars_common_local.vpc_peering }}"
  vars:
    ansible_command_timeout: 1000
    ansible_connect_timeout: 1000
  when:
    - switch_list.response.DATA | length > 0
    - (vpc_delete_mode is defined) and (vpc_delete_mode is true|bool)
    - run_map_read_result.diff_run is false|bool or force_run_all is true|bool

- debug: msg="Config {{ vars_common_local.vpc_peering }}"
- debug: msg="{{ vars_common_local.vpc_peering | length }}"

- debug: msg="INT DEL MODE {{ interface_delete_mode }}"
- debug: msg="DIFF RUN {{ run_map_read_result.diff_run }}"
- debug: msg="FORCE RUN ALL {{ force_run_all }}"

- name: Skip Remove Unmanaged vPC Peering Task If vpc_delete_mode is False
  ansible.builtin.debug:
    msg:
      - "-------------------------------------------------------------------------------------------------------"
      - "+ SKIPPING Remove Unmanaged vPC Peering task because vpc_peering_delete_mode flag is set to False     +"
      - "-------------------------------------------------------------------------------------------------------"
  when: not ((vpc_delete_mode is defined) and (vpc_delete_mode is true|bool))
