# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT
---
- name: Choose vars_common Based On Fabric Type
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_vxlan }}"
  when: MD_Extended.vxlan.fabric.type == "VXLAN_EVPN"
- ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_msd }}"
  when: MD_Extended.vxlan.fabric.type == "MSD"
- ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_isn }}"
  when: MD_Extended.vxlan.fabric.type == "ISN"
- ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_external }}"
  when: MD_Extended.vxlan.fabric.type == "External"
- ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_ebgp_vxlan }}"
  when: MD_Extended.vxlan.fabric.type == "eBGP_VXLAN"

- name: Display Removing Unmanaged vPC Peering Message
  ansible.builtin.debug:
    msg: "Removing Unmanaged vPC Peering. This could take several minutes..."
  when:
    - switch_list.response.DATA | length > 0
    - (vpc_delete_mode is defined) and (vpc_delete_mode is true|bool)

- name: Remove Unmanaged vPC Peering from Nexus Dashboard
  cisco.dcnm.dcnm_vpc_pair:
    src_fabric: "{{ MD_Extended.vxlan.fabric.name }}"
    deploy: true
    state: overridden
    config: "{{ vars_common_local.vpc_peering }}"
  vars:
    ansible_command_timeout: 1000
    ansible_connect_timeout: 1000
  when:
    - switch_list.response.DATA | length > 0
    - (vpc_delete_mode is defined) and (vpc_delete_mode is true|bool)

- name: Skip Remove Unmanaged vPC Peering Task If vpc_delete_mode is False
  ansible.builtin.debug:
    msg:
      - "-------------------------------------------------------------------------------------------------------"
      - "+ SKIPPING Remove Unmanaged vPC Peering task because vpc_peering_delete_mode flag is set to False     +"
      - "-------------------------------------------------------------------------------------------------------"
  when: not ((vpc_delete_mode is defined) and (vpc_delete_mode is true|bool))
