# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Role Entry Point - [cisco.nac_dc_vxlan.dtc.deploy]
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Calling Role - [cisco.nac_dc_vxlan.dtc.deploy]           +"
      - "----------------------------------------------------------------"

- name: Manage Fabric Deployment for MSD Fabric in Nexus Dashboard
  cisco.nac_dc_vxlan.dtc.fabric_deploy_manager:
    fabric_name: "{{ data_model_extended.vxlan.fabric.name }}"
    fabric_type: "{{ data_model_extended.vxlan.fabric.type }}"
    vrf_response_data: "{{ manage_vrf_result | default(omit) }}"
    network_response_data: "{{ manage_network_result | default(omit) }}"
    force_run_all: "{{ force_run_all }}"
    data_model_child_fabrics: "{{ data_model_extended.vxlan.multisite.child_fabrics }}"
    operation: all
  vars:
    ansible_command_timeout: 3000
    ansible_connect_timeout: 3000
  when:
    - data_model_extended.vxlan.multisite.child_fabrics is defined
    - data_model_extended.vxlan.multisite.child_fabrics | length > 0

# # TODO: Update cisco.nac_dc_vxlan.dtc.fabric_deploy_manager to handle a list of child fabrics
# - name: Config-Save For MSD Child Fabrics in Nexus Dashboard
#   cisco.nac_dc_vxlan.dtc.fabrics_config_save:
#     fabrics: "{{ child_fabrics_vrfs_networks_changed }}"
#   when: >
#     data_model_extended.vxlan.fabric.type == 'MSD' and
#     (child_fabrics_vrfs_networks_changed is defined and child_fabrics_vrfs_networks_changed | length > 0)

# - name: Deploy For MSD Child Fabrics in Nexus Dashboard
#   cisco.nac_dc_vxlan.dtc.fabrics_deploy:
#     fabrics: "{{ child_fabrics_vrfs_networks_changed }}"
#   vars:
#     ansible_command_timeout: 3000
#     ansible_connect_timeout: 3000
#   when: >
#     data_model_extended.vxlan.fabric.type == 'MSD' and
#     (child_fabrics_vrfs_networks_changed is defined and child_fabrics_vrfs_networks_changed | length > 0)
