---
# --------------------------------------------------------------------
# Remove all files from the previous run
# --------------------------------------------------------------------
- name: Delete content & directory
  ansible.builtin.file:
    state: absent
    path: "{{ role_path }}/files/"

- name: Recreate the directory
  ansible.builtin.file:
    path: "{{ role_path }}/files/"
    state: directory
    mode: '0755'

- name: Add gitkeep file back to the directory
  ansible.builtin.file:
    path: "{{ role_path }}/files/.gitkeep"
    state: touch

# --------------------------------------------------------------------
# Build NDFC Fabric Switch Inventory List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Switch Inventory List From Template
  ansible.builtin.include_tasks: ndfc_inventory.yml

# --------------------------------------------------------------------
# Build NDFC Fabric VRFs Attach List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric VRFs Attach List From Template
  ansible.builtin.include_tasks: ndfc_vrfs.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Networks Attach List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Networks Attach List From Template
  ansible.builtin.include_tasks: ndfc_networks.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Loopback Interfaces List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Loopback Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_interface_loopback.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Access Port-Channel Interfaces List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Access Port-Channel Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_interface_access_po.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Trunk Port-Channel Interfaces List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Trunk Port-Channel Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_interface_trunk_po.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Interface Routed List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Interface Routed List From Template
  ansible.builtin.include_tasks: ndfc_interface_routed.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Sub-Interface Routed List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Sub-Interface Routed List From Template
  ansible.builtin.include_tasks: ndfc_sub_interface_routed.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Routed Port-Channel Interface List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Routed Port-Channel Interface List From Template
  ansible.builtin.include_tasks: ndfc_interface_po_routed.yml

# --------------------------------------------------------------------
# Build Trunk Interfaces List From Template
# --------------------------------------------------------------------

- name: Build Trunk Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_int_trunk.yml

# --------------------------------------------------------------------
# Build Access Interfaces List From Template
# --------------------------------------------------------------------

- name: Build Access Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_int_access.yml

# --------------------------------------------------------------------
# Build Fabric interface VPC List From Template
# --------------------------------------------------------------------

- name: Build Fabric interface VPC List From Template
  ansible.builtin.include_tasks: interface_vpc.yml

# --------------------------------------------------------------------
# Build Create Fabric parameter List From Template
# --------------------------------------------------------------------

- name: Build Fabric Create Parameters
  ansible.builtin.include_tasks: fabric.yml