# Copyright (c) 2025 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Create Fact To Store Common Role Path
  ansible.builtin.set_fact:
    common_role_path: "{{ role_path }}"
  tags: "{{ nac_tags.common_role }}" # Tags defined in roles/common_global/vars/main.yml

- name: Initialize Change Flags
  cisco.nac_dc_vxlan.common.change_flag_manager:
    fabric_type: "{{ data_model_extended.vxlan.fabric.type }}"
    fabric_name: "{{ data_model_extended.vxlan.fabric.name }}"
    role_path: "{{ common_role_path }}"
    operation: initialize
  tags: "{{ nac_tags.common_role }}"
  delegate_to: localhost

- name: Import Role Tasks for iBGP VXLAN Fabric
  ansible.builtin.import_tasks: sub_main_vxlan.yml
  tags: "{{ nac_tags.common_role }}"
  when: data_model_extended.vxlan.fabric.type == 'VXLAN_EVPN'

- name: Import Role Tasks for eBGP VXLAN Fabric
  ansible.builtin.import_tasks: sub_main_ebgp_vxlan.yml
  tags: "{{ nac_tags.common_role }}"
  when: data_model_extended.vxlan.fabric.type == 'eBGP_VXLAN'

- name: Import Role Tasks for ISN Fabric
  ansible.builtin.import_tasks: sub_main_isn.yml
  tags: "{{ nac_tags.common_role }}"
  when: data_model_extended.vxlan.fabric.type == 'ISN'

- name: Import Role Tasks for MSD Fabric
  ansible.builtin.import_tasks: sub_main_msd.yml
  tags: "{{ nac_tags.common_role }}"
  when: data_model_extended.vxlan.fabric.type == 'MSD'

- name: Import Role Tasks for MCFG Fabric
  ansible.builtin.import_tasks: sub_main_mcfg.yml
  tags: "{{ nac_tags.common_role }}" # Tags defined in roles/common_global/vars/main.yml
  when: MD_Extended.vxlan.fabric.type == 'MCFG'

- name: Import Role Tasks for External Fabric
  ansible.builtin.import_tasks: sub_main_external.yml
  tags: "{{ nac_tags.common_role }}"
  when: data_model_extended.vxlan.fabric.type == 'External'

- name: Retrieve Flag Values
  cisco.nac_dc_vxlan.common.change_flag_manager:
    fabric_type: "{{ data_model_extended.vxlan.fabric.type }}"
    fabric_name: "{{ data_model_extended.vxlan.fabric.name }}"
    role_path: "{{ common_role_path }}"
    operation: get
  tags: "{{ nac_tags.common_role }}"
  register: change_flag_result
  delegate_to: localhost

- name: Store Change Flags For Use In Subsequent Roles
  ansible.builtin.set_fact:
    change_flags: "{{ change_flag_result['flags'] }}"
  tags: "{{ nac_tags.common_role }}"
  delegate_to: localhost

- name: Display Flag Values
  cisco.nac_dc_vxlan.common.change_flag_manager:
    fabric_type: "{{ data_model_extended.vxlan.fabric.type }}"
    fabric_name: "{{ data_model_extended.vxlan.fabric.name }}"
    role_path: "{{ common_role_path }}"
    operation: display
  tags: "{{ nac_tags.common_role }}"
  delegate_to: localhost
