# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

# --------------------------------------------------------------------
# Initialize NameSpace Dicts For Variable Sharing
# --------------------------------------------------------------------
- name: Initialize NameSpace Dict For Sharing Variables
  ansible.builtin.set_fact:
    vars_common_vxlan:
        changes_detected_fabric: false
        changes_detected_fabric_links: false
        changes_detected_edge_connections: false
        changes_detected_interface_access_po: false
        changes_detected_interface_access: false
        changes_detected_interfaces: false
        changes_detected_interface_loopback: false
        changes_detected_interface_po_routed: false
        changes_detected_interface_routed: false
        changes_detected_interface_trunk_po: false
        changes_detected_interface_trunk: false
        changes_detected_interface_vpc: false
        changes_detected_inventory: false
        changes_detected_link_vpc_peering: false
        changes_detected_networks: false
        changes_detected_policy: false
        changes_detected_sub_interface_routed: false
        changes_detected_vpc_peering: false
        changes_detected_vrfs: false
    vars_common_isn:
        changes_detected_fabric: false
        changes_detected_fabric_links: false
        changes_detected_edge_connections: false
        changes_detected_interface_access_po: false
        changes_detected_interface_access: false
        changes_detected_interfaces: false
        changes_detected_interface_loopback: false
        changes_detected_interface_po_routed: false
        changes_detected_interface_routed: false
        changes_detected_interface_trunk_po: false
        changes_detected_interface_trunk: false
        changes_detected_interface_vpc: false
        changes_detected_inventory: false
        changes_detected_policy: false
        changes_detected_sub_interface_routed: false
    vars_common_msd:
        changes_detected_fabric: false
        changes_detected_vrfs: false
        changes_detected_networks: false
    vars_common_external:
        changes_detected_inventory: false
        changes_detected_fabric: false
        changes_detected_interface_access_po: false
        changes_detected_interface_access: false
        changes_detected_interfaces: false
        changes_detected_interface_loopback: false
        changes_detected_interface_po_routed: false
        changes_detected_interface_routed: false
        changes_detected_interface_trunk_po: false
        changes_detected_interface_trunk: false
        changes_detected_interface_vpc: false
        changes_detected_sub_interface_routed: false
        changes_detected_policy: false
    vars_common_bgp:
        changes_detected_fabric: false
        changes_detected_fabric_links: false
        changes_detected_edge_connections: false
        changes_detected_interface_access_po: false
        changes_detected_interface_access: false
        changes_detected_interfaces: false
        changes_detected_interface_loopback: false
        changes_detected_interface_po_routed: false
        changes_detected_interface_routed: false
        changes_detected_interface_trunk_po: false
        changes_detected_interface_trunk: false
        changes_detected_interface_vpc: false
        changes_detected_inventory: false
        changes_detected_link_vpc_peering: false
        changes_detected_networks: false
        changes_detected_policy: false
        changes_detected_sub_interface_routed: false
        changes_detected_vpc_peering: false
        changes_detected_vrfs: false
  tags: "{{ nac_tags.common_role }}" # Tags defined in roles/common_global/vars/main.yml

- name: Import Role Tasks for VXLAN Fabric
  ansible.builtin.import_tasks: sub_main_vxlan.yml
  tags: "{{ nac_tags.common_role }}" # Tags defined in roles/common_global/vars/main.yml
  when: MD_Extended.vxlan.fabric.type == 'VXLAN_EVPN'

- name: Import Role Tasks for ISN Fabric
  ansible.builtin.import_tasks: sub_main_isn.yml
  tags: "{{ nac_tags.common_role }}" # Tags defined in roles/common_global/vars/main.yml
  when: MD_Extended.vxlan.fabric.type == 'ISN'

- name: Import Role Tasks for MSD Fabric
  ansible.builtin.import_tasks: sub_main_msd.yml
  tags: "{{ nac_tags.common_role }}" # Tags defined in roles/common_global/vars/main.yml
  when: MD_Extended.vxlan.fabric.type == 'MSD'

- name: Import Role Tasks for MSD Fabric
  ansible.builtin.import_tasks: sub_main_external.yml
  tags: "{{ nac_tags.common_role }}" # Tags defined in roles/common_global/vars/main.yml
  when: MD_Extended.vxlan.fabric.type == 'External'

- name: Import Role Tasks for BGP Fabric
  ansible.builtin.import_tasks: sub_main_bgp.yml
  tags: "{{ nac_tags.common_role }}" # Tags defined in roles/common_global/vars/main.yml
  when: MD_Extended.vxlan.fabric.type == 'BGP'
