# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- ansible.builtin.fail: msg="Service Model Not Defined.  Role cisco.nac_dc_vxlan.validate Must Be Called First"
  when: MD is undefined
  delegate_to: localhost

# --------------------------------------------------------------------
# Remove all files from the previous run if run_map requires it
# --------------------------------------------------------------------
- name: Cleanup Files from Previous Run if run_map requires it
  ansible.builtin.include_tasks: cleanup_files.yml
  when:
    - not run_map_read_result.diff_run or ((force_run_all is defined) and (force_run_all is true|bool))

# --------------------------------------------------------------------
# Build Create Fabric parameter List From Template
# --------------------------------------------------------------------

- name: Build Fabric Create Parameters
  ansible.builtin.include_tasks: ndfc_fabric.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Switch Inventory List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Switch Inventory List From Template
  ansible.builtin.include_tasks: ndfc_inventory.yml

# --------------------------------------------------------------------
# Build Fabric intra links for vpc peering From Template
# --------------------------------------------------------------------

- name: Build Intra Fabric Links From Template
  ansible.builtin.include_tasks: ndfc_link_vpc_peering.yml

# --------------------------------------------------------------------
# Build vPC Peering parameter List From Template
# --------------------------------------------------------------------

- name: Build vPC Peering Parameters
  ansible.builtin.include_tasks: ndfc_vpc_peering.yml

# --------------------------------------------------------------------
# Build NDFC Fabric VRFs Attach List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric VRFs Attach List From Template
  ansible.builtin.include_tasks: ndfc_vrfs.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Networks Attach List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Networks Attach List From Template
  ansible.builtin.include_tasks: ndfc_networks.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Loopback Interfaces List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Loopback Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_interface_loopback.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Access Port-Channel Interfaces List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Access Port-Channel Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_interface_access_po.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Trunk Port-Channel Interfaces List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Trunk Port-Channel Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_interface_trunk_po.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Interface Routed List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Interface Routed List From Template
  ansible.builtin.include_tasks: ndfc_interface_routed.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Sub-Interface Routed List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Sub-Interface Routed List From Template
  ansible.builtin.include_tasks: ndfc_sub_interface_routed.yml

# --------------------------------------------------------------------
# Build NDFC Fabric Routed Port-Channel Interface List From Template
# --------------------------------------------------------------------

- name: Build NDFC Fabric Routed Port-Channel Interface List From Template
  ansible.builtin.include_tasks: ndfc_interface_po_routed.yml

# --------------------------------------------------------------------
# Build Trunk Interfaces List From Template
# --------------------------------------------------------------------

- name: Build Trunk Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_interface_trunk.yml

# --------------------------------------------------------------------
# Build Access Interfaces List From Template
# --------------------------------------------------------------------

- name: Build Access Interfaces List From Template
  ansible.builtin.include_tasks: ndfc_interface_access.yml

# --------------------------------------------------------------------
# Build Fabric interface VPC List From Template
# --------------------------------------------------------------------

- name: Build Fabric interface VPC List From Template
  ansible.builtin.include_tasks: ndfc_interface_vpc.yml

# --------------------------------------------------------------------
# Build Fabric interface all List From Template
# --------------------------------------------------------------------

- name: Build Fabric interface All List From Template
  ansible.builtin.include_tasks: ndfc_interface_all.yml

# --------------------------------------------------------------------
# Build Fabric Policy List From Template
# --------------------------------------------------------------------

- name: Build Fabric Policy List From Template
  ansible.builtin.include_tasks: ndfc_policy.yml

# --------------------------------------------------------------------
# Build Fabric Links List From Template
# --------------------------------------------------------------------

- name: Build Fabric Links List From Template
  ansible.builtin.include_tasks: ndfc_fabric_links.yml

- name: Set facts for missed changes_detected flags for Federated Fabric
  ansible.builtin.set_fact:
    changes_detected_fabric: "{{ changes_detected_fabric | default(false) }}"
    changes_detected_inventory: "{{ changes_detected_inventory | default(false) }}"
    changes_detected_vpc_peering: "{{ changes_detected_vpc_peering | default(false) }}"
    changes_detected_interfaces: "{{ changes_detected_interfaces | default(false) }}"
    changes_detected_link_vpc_peering: "{{ changes_detected_link_vpc_peering | default(false) }}"
    changes_detected_policy: "{{ changes_detected_policy | default(false) }}"
    changes_detected_fabric_links: "{{ changes_detected_fabric_links | default(false) }}"
    changes_detected_interface_vpc: "{{ changes_detected_interface_vpc | default(false) }}"
    changes_detected_interface_access: "{{ changes_detected_interface_access | default(false) }}"
    changes_detected_interface_access_po: "{{ changes_detected_interface_access_po | default(false) }}"
    changes_detected_interface_loopback: "{{ changes_detected_interface_loopback | default(false) }}"
    changes_detected_interface_po_routed: "{{ changes_detected_interface_po_routed | default(false) }}"
    changes_detected_interface_routed: "{{ changes_detected_interface_routed | default(false) }}"
    changes_detected_interface_trunk: "{{ changes_detected_interface_trunk | default(false) }}"
    changes_detected_interface_trunk_po: "{{ changes_detected_interface_trunk_po | default(false) }}"
    changes_detected_sub_interface_routed: "{{ changes_detected_sub_interface_routed | default(false) }}"

- name: Run Diff Flags
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Fabric Changes Detected -               [ {{ changes_detected_fabric }} ]"
      - "+     Inventory Changes Detected -            [ {{ changes_detected_inventory }} ]"
      - "+     vPC Link Peer Changes Detected -        [ {{ changes_detected_link_vpc_peering }} ]"
      - "+     vPC Peer Changes Detected -             [ {{ changes_detected_vpc_peering }} ]"
      - "+     ----- Interfaces -----"
      - "+     Interface vPC Changes Detected -        [ {{ changes_detected_interface_vpc }} ]"
      - "+     Interface Access Changes Detected -     [ {{ changes_detected_interface_access }} ]"
      - "+     Interface Access PO Changes Detected -  [ {{ changes_detected_interface_access_po }} ]"
      - "+     Interface Loopback Changes Detected -   [ {{ changes_detected_interface_loopback }} ]"
      - "+     Interface PO Routed Changes Detected -  [ {{ changes_detected_interface_po_routed }} ]"
      - "+     Interface Routed Changes Detected -     [ {{ changes_detected_interface_routed }} ]"
      - "+     Interface Trunk Changes Detected -      [ {{ changes_detected_interface_trunk }} ]"
      - "+     Interface Trunk PO Changes Detected -   [ {{ changes_detected_interface_trunk_po }} ]"
      - "+     Sub Interface Routed Changes Detected - [ {{ changes_detected_sub_interface_routed }} ]"
      - "+     ----- All Interfaces -----"
      - "+     All Interfaces Changes Detected -       [ {{ changes_detected_interfaces }} ]"
      - "+     ----- All Interfaces -----"
      - "+     VRFs Changes Detected -                 [ {{ changes_detected_vrfs }} ]"
      - "+     Networks Changes Detected -             [ {{ changes_detected_networks }} ]"
      - "+     Policy Changes Detected -               [ {{ changes_detected_policy }} ]"
      - "+     Fabric Links Changes Detected -         [ {{ changes_detected_fabric_links }} ]"
      - "+     ----- Run Map -----"
      - "+     Run Map Diff Run -                      [ {{ run_map_read_result.diff_run }} ]"
      - "+     Force Run Flag  -                       [ {{ force_run_all }} ]"
      - "----------------------------------------------------------------"
