# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Fail if Data Model is not defined
  ansible.builtin.fail:
    msg: "Service Model Not Defined. Role cisco.nac_dc_vxlan.validate Must Be Called First"
  when: MD is undefined
  delegate_to: localhost

# ------------------------------------------------------------------------
# Remove all files from the previous run if run_map requires it
# ------------------------------------------------------------------------
- name: Set path_name Var
  ansible.builtin.set_fact:
    path_name: "{{ role_path }}/files/msd/{{ MD_Extended.vxlan.fabric.name }}/"
  delegate_to: localhost

- name: Cleanup Files from Previous Run if run_map requires it
  ansible.builtin.import_tasks: cleanup_files.yml
  when:
    - not run_map_read_result.diff_run or ((force_run_all is defined) and (force_run_all is true|bool))

# ------------------------------------------------------------------------
# Build MSD Fabric List From Template
# ------------------------------------------------------------------------

- name: Build MSD Fabric List From Template
  ansible.builtin.import_tasks: common/ndfc_fabric.yml

# ------------------------------------------------------------------------
# Build MSD Child Fabric Inventory List From Template
# ------------------------------------------------------------------------

- name: Build MSD Child Fabric Inventory List From Template
  ansible.builtin.import_tasks: msd/ndfc_child_fabrics.yml

# ------------------------------------------------------------------------
# Build NDFC Child Fabric BGW Anycast VIP List From Template
# ------------------------------------------------------------------------

- name: Build MSD Child Fabric BGW Anycast VIP List From Template
  ansible.builtin.import_tasks: msd/ndfc_bgw_anycast_vip.yml

# This is not used for MSD as VRFs and Networks are handled in create/sub_main_msd.yml
# because we need to process the Multsite data first before we can process the VRFs
# and Networks data, mainly for switch attachment data as MSD fabrics do not have switches
# declared in the data model as this a function of the child fabric to manage device inventory.

# ------------------------------------------------------------------------
# Build MSD Fabric VRFs Attach List From Template
# ------------------------------------------------------------------------

# - name: Build MSD Fabric VRFs Attach List From Template
#   ansible.builtin.import_tasks: msd/ndfc_vrfs.yml

# ------------------------------------------------------------------------
# Build MSD Fabric Networks Attach List From Template
# ------------------------------------------------------------------------

# - name: Build MSD Fabric Networks Attach List From Template
#   ansible.builtin.import_tasks: msd/ndfc_networks.yml

# ------------------------------------------------------------------------
# Save Local Variables To NameSpace Dict For Use Elsewhere
# ------------------------------------------------------------------------
- name: Save Local Variables With Namespace Context
  ansible.builtin.set_fact:
    vars_common_msd:
      changes_detected_fabric: "{{ changes_detected_fabric }}"
      changes_detected_bgw_anycast_vip: "{{ changes_detected_bgw_anycast_vip }}"
      # changes_detected_vrfs and changes_detected_networks must be defaulted back to false
      # because ansible.builtin.set_fact copmletely rewrites vars_common_msd and we need
      # to keep alignment with the initialzed false state in common/main.yml.
      # The proper state will update in create/sub_main_msd.yml as that is where vrfs and networks
      # data is processed as we must process the vrfs and networks data only after multsite data is prepared.
      changes_detected_vrfs: false
      changes_detected_networks: false
      fabric_config: "{{ fabric_config }}"
      bgw_anycast_vip: "{{ bgw_anycast_vip }}"
      # vrf_config: "{{ vrf_config }}"
      # net_config: "{{ net_config }}"
      # Check with Matt and Pete on how to handle this for MSD
      # vrf_attach_config: "{{ vrf_attach_config }}"

- name: Run Diff Flags
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Fabric Changes Detected -               [ {{ vars_common_msd.changes_detected_fabric }} ]"
      - "+     BGW Anycast VIP Changes Detected -      [ {{ vars_common_msd.changes_detected_bgw_anycast_vip }} ]"
      - "+     VRFs Changes Detected -                 [ {{ vars_common_msd.changes_detected_vrfs }} ]"
      - "+     VRFs Changes Detected -                 [ Known Later, Initialized to False for MSD ]"
      - "+     Networks Changes Detected -             [ {{ vars_common_msd.changes_detected_networks }} ]"
      - "+     Networks Changes Detected -             [ Known Later, Initialized to False for MSD ]"
      - "+     ----- Run Map -----"
      - "+     Run Map Diff Run -                      [ {{ run_map_read_result.diff_run }} ]"
      - "+     Force Run Flag  -                       [ {{ force_run_all }} ]"
      - "----------------------------------------------------------------"
