# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Import VXLAN Role Tasks
  ansible.builtin.import_tasks: sub_main_vxlan.yml
  # Check with Matt on changes_detected_policy here
  # Was not there previously
  when: >
    (MD_Extended.vxlan.fabric.type == 'VXLAN_EVPN') and
    (vars_common_vxlan.changes_detected_fabric_links or
    vars_common_vxlan.changes_detected_interfaces or
    vars_common_vxlan.changes_detected_inventory or
    vars_common_vxlan.changes_detected_networks or
    vars_common_vxlan.changes_detected_policy or
    vars_common_vxlan.changes_detected_vpc_peering or
    vars_common_vxlan.changes_detected_vrfs or
    vars_common_vxlan.changes_detected_edge_connections)

- name: Import MSD Role Tasks
  ansible.builtin.import_tasks: sub_main_msd.yml
  when: >
    MD_Extended.vxlan.fabric.type == 'MSD'
  # Current implementation has to leverage the changes_detected flags
  # in the sub_main files to determine if the tasks should be run

- name: Import ISN Role Tasks
  ansible.builtin.import_tasks: sub_main_isn.yml
  when: >
    (MD_Extended.vxlan.fabric.type == 'ISN') and
    (vars_common_isn.changes_detected_interfaces or
    vars_common_isn.changes_detected_inventory or
    vars_common_isn.changes_detected_policy or
    vars_common_isn.changes_detected_edge_connections)

- name: Import External Role Tasks
  ansible.builtin.import_tasks: sub_main_external.yml
  when: >
    (MD_Extended.vxlan.fabric.type == 'External') and
    (vars_common_external.changes_detected_interfaces or
    vars_common_external.changes_detected_inventory or
    vars_common_external.changes_detected_policy or
    vars_common_external.changes_detected_edge_connections)

- name: Import BGP Role Tasks
  ansible.builtin.import_tasks: sub_main_bgp.yml
  # Check with Matt on changes_detected_policy here
  # Was not there previously
  when: >
    (MD_Extended.vxlan.fabric.type == 'BGP') and
    (vars_common_bgp.changes_detected_fabric_links or
    vars_common_bgp.changes_detected_interfaces or
    vars_common_bgp.changes_detected_inventory or
    vars_common_bgp.changes_detected_networks or
    vars_common_bgp.changes_detected_policy or
    vars_common_bgp.changes_detected_vpc_peering or
    vars_common_bgp.changes_detected_vrfs or
    vars_common_bgp.changes_detected_edge_connections)

- name: Mark Stage Role Remove Completed
  cisco.nac_dc_vxlan.common.run_map:
    model_data: "{{ MD_Extended }}"
    stage: role_remove_completed
  register: run_map
  delegate_to: localhost
