---

- name: Role Entry Point - [cisco.nac_dc_vxlan.dtc.remove]
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Calling Role - [cisco.nac_dc_vxlan.dtc.remove]           +"
      - "----------------------------------------------------------------"

- ansible.builtin.debug: msg="Configuring NXOS Devices using NDFC (Direct to Controller)"

- debug: msg="Query NDFC for List of Fabric Switches"
- cisco.dcnm.dcnm_rest:
    method: GET
    path: "/appcenter/cisco/ndfc/api/v1/lan-fabric/rest/control/fabrics/{{ MD.fabric.global.name }}/inventory/switchesByFabric"
  register: switch_list

- debug: msg="Removing all Unmanaged Fabric Interfaces. This could take several minutes..."
- cisco.dcnm.dcnm_interface:
    fabric: "{{ MD.fabric.global.name }}"
    state: overridden
    config: "{{ interface_all }}"
  vars:
      ansible_command_timeout: 3000
      ansible_connect_timeout: 3000
  when:
    - switch_list.response.DATA | length > 0
    - (interface_delete_mode is defined) and (interface_delete_mode is true|bool)
- debug:
    msg:
      - "-------------------------------------------------------------------------------------------------------------------"
      - "+ SKIPPING Remove Unmanaged Fabric Interfaces task because interface_delete_mode flag is set to False  +"
      - "-------------------------------------------------------------------------------------------------------------------"
  when: not ((interface_delete_mode is defined) and (interface_delete_mode is true|bool))

- debug: msg="Removing Unmanaged Fabric Networks. This could take several minutes..."
- cisco.dcnm.dcnm_network:
    fabric: "{{ MD.fabric.global.name }}"
    state: overridden
    config: "{{ net_config }}"
  when:
    - switch_list.response.DATA | length > 0
    - (network_delete_mode is defined) and (network_delete_mode is true|bool)
- debug:
    msg:
      - "---------------------------------------------------------------------------------------------------------------"
      - "+ SKIPPING Remove Unmanaged Fabric Networks task because network_delete_mode flag is set to False  +"
      - "---------------------------------------------------------------------------------------------------------------"
  when: not ((network_delete_mode is defined) and (network_delete_mode is true|bool))

- debug: msg="Removing Unmanaged Fabric VRFs. This could take several minutes..."
- cisco.dcnm.dcnm_vrf:
    fabric: "{{ MD.fabric.global.name }}"
    state: overridden
    config: "{{ vrf_config }}"
  when:
    - switch_list.response.DATA | length > 0
    - (vrf_delete_mode is defined) and (vrf_delete_mode is true|bool)
- debug:
    msg:
      - "--------------------------------------------------------------------------------------------------------"
      - "+ SKIPPING Remove Unmanaged Fabric VRFs task because vrf_delete_mode flag is set to False   +"
      - "--------------------------------------------------------------------------------------------------------"
  when: not ((vrf_delete_mode is defined) and (vrf_delete_mode is true|bool))

- debug: msg="Removing all Unmanaged vPC Peering. This could take several minutes..."
- name: Remove vPC Peering
  cisco.dcnm.dcnm_vpc_pair:
    src_fabric: "{{ MD.fabric.global.name }}"
    deploy: true
    state: overridden
    config: "{{ vpc_peering }}"
  when:
    - switch_list.response.DATA | length > 0
    - (vpc_delete_mode is defined) and (vpc_delete_mode is true|bool)
- debug:
    msg:
      - "-------------------------------------------------------------------------------------------------------"
      - "+ SKIPPING Remove Unmanaged vPC Peering task because vpc_peering_delete_mode flag is set to False  +"
      - "-------------------------------------------------------------------------------------------------------"
  when: not ((vpc_peering_delete_mode is defined) and (vpc_peering_delete_mode is true|bool))

- debug: msg="Removing all Unmanaged links. This could take several minutes..."
- name: Remove Intra Fabric Links for vpc peering
  cisco.dcnm.dcnm_links:
    state: replaced
    src_fabric: "{{ MD_Extended.fabric.global.name }}"
    config: "{{ link_vpc_peering }}"
  vars:
      ansible_command_timeout: 3000
      ansible_connect_timeout: 3000
  when:
    - switch_list.response.DATA | length > 0
    - (link_vpc_delete_mode is defined) and (link_vpc_delete_mode is true|bool)

- debug: msg="Removing Unmanaged Fabric Switches. This could take several minutes..."
- name: Remove NDFC Fabric Devices {{ MD.fabric.global.name }}
  cisco.dcnm.dcnm_inventory:
    fabric: "{{ MD.fabric.global.name }}"
    config: "{{ inv_config }}"
    deploy: true
    save: true
    state: overridden
  vars:
      ansible_command_timeout: 3000
      ansible_connect_timeout: 3000
  when:
    - (inventory_delete_mode is defined) and (inventory_delete_mode is true|bool)
- debug:
    msg:
      - "----------------------------------------------------------------------------------------------------------"
      - "+ SKIPPING Remove NDFC Fabric Devices task because inventory_delete_mode flag is set to False +"
      - "----------------------------------------------------------------------------------------------------------"
  when: not ((inventory_delete_mode is defined) and (inventory_delete_mode is true|bool))
