---

- name: Role Entry Point - [cisco.nac_dc_vxlan.dtc.remove]
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Calling Role - [cisco.nac_dc_vxlan.dtc.remove]           +"
      - "----------------------------------------------------------------"

- ansible.builtin.debug: msg="Configuring NXOS Devices using NDFC (Direct to Controller)"


- debug: msg="Removing all Unmanaged Fabric Interfaces. This could take several minutes..."
- cisco.dcnm.dcnm_interface:
    fabric: "{{ MD.fabric.global.name }}"
    state: overridden
    config: "{{ interface_all }}"
  vars:
      ansible_command_timeout: 3000
      ansible_connect_timeout: 3000
  when: (interface_delete_mode is defined) and (interface_delete_mode is true|bool)

- debug: msg="Removing Unmanaged Fabric Networks. This could take several minutes..."
- cisco.dcnm.dcnm_network:
    fabric: "{{ MD.fabric.global.name }}"
    state: overridden
    config: "{{ net_config }}"
  when: (network_delete_mode is is defined) and (network_delete_mode is true|bool)

- debug: msg="Removing Unmanaged Fabric VRFs. This could take several minutes..."
- cisco.dcnm.dcnm_vrf:
    fabric: "{{ MD.fabric.global.name }}"
    state: overridden
    config: "{{ vrf_config }}"
  when: (vrf_delete_mode is defined) and (vrf_delete_mode is true|bool)

- debug: msg="Removing all Unmanaged vPC Peering. This could take several minutes..."
- name: Remove vPC Peering
  cisco.dcnm.dcnm_vpc_pair:
    src_fabric: "{{ MD.fabric.global.name }}"
    deploy: true
    state: overridden
    config: "{{ vpc_peering }}"
  when: (vpc_delete_mode is defined) and (vpc_delete_mode is true|bool)

- debug: msg="Removing all Unmanaged links. This could take several minutes..."
- name: Remove Intra Fabric Links for vpc peering
  cisco.dcnm.dcnm_links:
    state: replaced
    src_fabric: "{{ MD_Extended.fabric.global.name }}"
    config: "{{ link_vpc_peering }}"
  vars:
      ansible_command_timeout: 3000
      ansible_connect_timeout: 3000
  when: (link_vpc_delete_mode is defined) and (link_vpc_delete_mode is true|bool)

- debug: msg="Removing Unmanaged Fabric Switches. This could take several minutes..."
- name: Remove NDFC Fabric Devices {{ MD.fabric.global.name }}
  cisco.dcnm.dcnm_inventory:
    fabric: "{{ MD.fabric.global.name }}"
    config: "{{ inv_config }}"
    deploy: true
    save: true
    state: overridden
  vars:
      ansible_command_timeout: 3000
      ansible_connect_timeout: 3000
  when: (inventory_delete_mode is defined) and (inventory_delete_mode is true|bool)