# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Import iBGP VXLAN Fabric Role Tasks
  ansible.builtin.import_tasks: sub_main_vxlan.yml
  # Check with Matt on changes_detected_policy here
  # Was not there previously
  when:
    - data_model_extended.vxlan.fabric.type == 'VXLAN_EVPN'
    - change_flags.changes_detected_any

- name: Import MSD Fabric Role Tasks
  ansible.builtin.import_tasks: sub_main_msd.yml
  when:
    data_model_extended.vxlan.fabric.type == 'MSD'
  # Current implementation has to leverage the changes_detected flags
  # in the sub_main files to determine if the tasks should be run

- name: Import ISN Fabric Role Tasks
  ansible.builtin.import_tasks: sub_main_isn.yml
  when:
    - data_model_extended.vxlan.fabric.type == 'ISN'
    - change_flags.changes_detected_any

- name: Import External Fabric Role Tasks
  ansible.builtin.import_tasks: sub_main_external.yml
  when:
    - data_model_extended.vxlan.fabric.type == 'External'
    - change_flags.changes_detected_any

- name: Import eBGP Role Tasks
  ansible.builtin.import_tasks: sub_main_ebgp_vxlan.yml
  # Check with Matt on changes_detected_policy here
  # Was not there previously
  when:
    - data_model_extended.vxlan.fabric.type == 'eBGP_VXLAN'
    - change_flags.changes_detected_any

- name: Deploy Remove Changes
  ansible.builtin.include_role:
    name: cisco.nac_dc_vxlan.dtc.deploy
  when:
    - stage_remove is false|bool
    - not data_model_extended.vxlan.fabric.type == 'MSD'

- name: Mark Stage Role Remove Completed
  cisco.nac_dc_vxlan.common.run_map:
    data_model: "{{ data_model_extended }}"
    stage: role_remove_completed
  register: run_map
  delegate_to: localhost
