# Copyright (c) 2025 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT
---

- name: Role Entry Point - [cisco.nac_dc_vxlan.dtc.remove]
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Calling Role - [cisco.nac_dc_vxlan.dtc.remove]           +"
      - "----------------------------------------------------------------"
  tags: "{{ nac_tags.remove }}" # Tags defined in roles/common_global/vars/main.yml

- name: Display Device Configuration Method
  ansible.builtin.debug:
    msg: "Configuring NXOS Devices using Nexus Dashboard (Direct to Controller)"
  tags: "{{ nac_tags.remove }}"

- name: Prepare Multisite Data
  cisco.nac_dc_vxlan.dtc.prepare_msite_data:
    model_data: "{{ MD_Extended }}"
    parent_fabric: "{{ MD_Extended.vxlan.fabric.name }}"
  register: MD_Multisite
  tags:
    - "{{ nac_tags.remove_networks }}"
    - "{{ nac_tags.remove_vrfs }}"

- name: Remove MCFG Fabric Child Fabrics from Nexus Dashboard
  ansible.builtin.import_tasks: mcfg/child_fabrics.yml
  tags: "{{ nac_tags.remove }}"
