# Copyright (c) 2025 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Set vars_common Based On Fabric Type - VXLAN_EVPN/iBGP_VXLAN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_vxlan }}"
  when: MD_Extended.vxlan.fabric.type == "VXLAN_EVPN"

- name: Set vars_common Based On Fabric Type - eBGP_VXLAN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_ebgp_vxlan }}"
  when: MD_Extended.vxlan.fabric.type == "eBGP_VXLAN"

- name: Set vars_common Based On Fabric Type - MSD
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_msd }}"
  when: MD_Extended.vxlan.fabric.type == "MSD"

- name: Set vars_common Based On Fabric Type - ISN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_isn }}"
  when: MD_Extended.vxlan.fabric.type == "ISN"

- name: Set vars_common Based On Fabric Type - External
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_external }}"
  when: MD_Extended.vxlan.fabric.type == "External"

- name: Add Fabric Devices in Nexus Dashboard
  cisco.dcnm.dcnm_inventory:
    fabric: "{{ MD_Extended.vxlan.fabric.name }}"
    config: "{{ vars_common_local.updated_inv_config['updated_inv_list'] }}"
    deploy: false
    save: false
    state: merged
  vars:
    ansible_command_timeout: 3000
    ansible_connect_timeout: 3000
  when:
    - MD_Extended.vxlan.topology.switches | length > 0
    - change_flags.changes_detected_inventory

# --------------------------------------------------------------------
# Manage Underlay IP Address Configuration in Nexus Dashboard
# --------------------------------------------------------------------
#
# This section manages the underlay IP address configuration based on the diff_run setting.
#
# When the diff_run feature is active we only manage the difference between
# the previous run and the current run, otherwise we manage all underlay IP address's
# defined in the data model.

- name: Initialize Underlay IP Config List to All Underlay IP Addresses
  ansible.builtin.set_fact:
    underlay_ip_config_list: "{{ vars_common_local.underlay_ip_address }}"
  when:
    - MD_Extended.vxlan.underlay.general.manual_underlay_allocation is defined
    - MD_Extended.vxlan.underlay.general.manual_underlay_allocation
    - (change_flags.changes_detected_underlay_ip_address is defined and change_flags.changes_detected_underlay_ip_address)
    - (vars_common_local.underlay_ip_address is defined and vars_common_local.underlay_ip_address | length > 0)

- name: Override Underlay IP Config List Based On Diff Run Settings
  ansible.builtin.set_fact:
    underlay_ip_config_list: "{{ vars_common_local.underlay_ip_address_diff_result.updated }}"
  when:
    - run_map_read_result.diff_run is true|bool
    - MD_Extended.vxlan.underlay.general.manual_underlay_allocation is defined
    - MD_Extended.vxlan.underlay.general.manual_underlay_allocation
    - (change_flags.changes_detected_underlay_ip_address is defined and change_flags.changes_detected_underlay_ip_address)
    - (vars_common_local.underlay_ip_address_diff_result is defined and vars_common_local.underlay_ip_address_diff_result.updated | length > 0)

- name: Allocate Underlay IP Address
  cisco.dcnm.dcnm_resource_manager:
    state: merged
    fabric: "{{ MD_Extended.vxlan.fabric.name }}"
    config: "{{ underlay_ip_config_list }}"
  when:
    - MD_Extended.vxlan.underlay.general.manual_underlay_allocation is defined
    - MD_Extended.vxlan.underlay.general.manual_underlay_allocation
    - (change_flags.changes_detected_underlay_ip_address is defined and change_flags.changes_detected_underlay_ip_address)

# With the addition of the Allocate Underlay IP Address change above we
# cannot call cisco.dcnm.dcnm_inventory with save: true until after
# cisco.dcnm.dcnm_resource_manager is called.  This is why we call it
# again here with save: true to maintain the previous workflow.
- name: Call Inventory Module Again with Save Set to True
  cisco.dcnm.dcnm_inventory:
    fabric: "{{ MD_Extended.vxlan.fabric.name }}"
    config: "{{ vars_common_local.updated_inv_config['updated_inv_list'] }}"
    deploy: false
    save: true
    state: merged
  vars:
    ansible_command_timeout: 3000
    ansible_connect_timeout: 3000
  when:
    - MD_Extended.vxlan.topology.switches | length > 0
    - change_flags.changes_detected_inventory or
      (change_flags.changes_detected_underlay_ip_address is defined and change_flags.changes_detected_underlay_ip_address)

- name: Create List of Switch Serial Numbers from Data Model
  ansible.builtin.set_fact:
    md_serial_numbers: "{{ MD_Extended.vxlan.topology.switches | map(attribute='serial_number') | list }}"
  delegate_to: localhost

- name: Build Switch Hostname Policy Payload from Data Model Update
  cisco.nac_dc_vxlan.dtc.update_switch_hostname_policy:
    model_data: "{{ MD_Extended }}"
    switch_serial_numbers: "{{ md_serial_numbers }}"
    template_name: host_11_1
  register: results
  when: MD_Extended.vxlan.topology.switches | length > 0
# do not delegate_to: localhost as this action plugin uses Python to execute cisco.dcnm.dcnm_rest
