# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Set vars_common Based On Fabric Type - VXLAN_EVPN/iBGP_VXLAN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_vxlan }}"
  when: MD_Extended.vxlan.fabric.type == "VXLAN_EVPN"

- name: Set vars_common Based On Fabric Type - MSD
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_msd }}"
  when: MD_Extended.vxlan.fabric.type == "MSD"

- name: Set vars_common Based On Fabric Type - ISN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_isn }}"
  when: MD_Extended.vxlan.fabric.type == "ISN"

- name: Set vars_common Based On Fabric Type - External
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_external }}"
  when: MD_Extended.vxlan.fabric.type == "External"

- name: Manage Fabric Entry Point
  ansible.builtin.debug:
    msg:
      - "---------------------------------------------------------------"
      - "+     Manage Fabric {{ MD_Extended.vxlan.fabric.name }}"
      - "---------------------------------------------------------------"

- name: Manage Fabric in Nexus Dashboard
  cisco.dcnm.dcnm_fabric:
    state: merged
    skip_validation: "{{ True if MD_Extended.vxlan.fabric.type == 'ISN' else omit }}"
    config: "{{ vars_common_local.fabric_config }}"

- name: Create ANYCAST_RP in Nexus Dashboard
  cisco.dcnm.dcnm_resource_manager:
    state: merged
    fabric: "{{ MD_Extended.vxlan.fabric.name }}"
    config:
      - entity_name: "ANYCAST_RP"
        pool_type: "IP"
        pool_name: "ANYCAST_RP_IP_POOL"
        scope_type: "fabric"
        resource: "{{ vxlan.underlay.multicast.ipv4.anycast_rp }}"
  when:
    - vxlan.underlay.general.manual_underlay_allocation is defined
    - vxlan.underlay.general.manual_underlay_allocation
