# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Choose vars_common Based On Fabric Type - VXLAN_EVPN/iBGP_VXLAN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_vxlan }}"
  when: data_model_extended.vxlan.fabric.type == "VXLAN_EVPN"
- name: Choose vars_common Based On Fabric Type - eBGP_VXLAN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_ebgp_vxlan }}"
  when: data_model_extended.vxlan.fabric.type == "eBGP_VXLAN"
- name: Choose vars_common Based On Fabric Type - MSD
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_msd }}"
  when: data_model_extended.vxlan.fabric.type == "MSD"
- name: Choose vars_common Based On Fabric Type - ISN
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_isn }}"
  when: data_model_extended.vxlan.fabric.type == "ISN"
- name: Choose vars_common Based On Fabric Type - External
  ansible.builtin.set_fact:
    vars_common_local: "{{ vars_common_external }}"
  when: data_model_extended.vxlan.fabric.type == "External"

- name: Manage Fabric Interfaces Entry Point
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Manage Fabric Interfaces {{ data_model_extended.vxlan.fabric.name }}"
      - "----------------------------------------------------------------"

# ----------------------------------------------------------------------
# Manage Interface Breakout Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Interface Breakout in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.interface_breakout }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.breakout.count > 0

# ----------------------------------------------------------------------
# Manage Interface Trunk Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Interface Trunk in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.interface_trunk }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.trunk.count > 0

# ----------------------------------------------------------------------
# Manage Interface Access Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Interface Access in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.interface_access }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.access.count > 0

# ----------------------------------------------------------------------
# Manage Interface Access Port-Channel Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Access Port-Channel Interface in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.interface_access_po }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.access_po.count > 0

# ----------------------------------------------------------------------
# Manage Interface Trunk Port-Channel Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Trunk Port-Channel Interface in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.interface_trunk_po }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.trunk_po.count > 0

# ----------------------------------------------------------------------
# Manage Interface Routed Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Interface Routed in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.interface_routed }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.routed.count > 0

# ----------------------------------------------------------------------
# Manage Sub-Interface Routed Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Sub-Interface Routed in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.sub_interface_routed }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.routed_sub.count > 0

# ----------------------------------------------------------------------
# Manage Interface Port-Channel Routed Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Interface Port-Channel Routed in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.interface_po_routed }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.routed_po.count > 0

# ----------------------------------------------------------------------
# Manage Interface Loopback Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Interface Loopback in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.int_loopback_config }}"
  when: >
    (data_model_extended.vxlan.topology.interfaces.modes.loopback.count > 0) or
    (data_model_extended.vxlan.topology.interfaces.modes.fabric_loopback.count > 0) or
    (data_model_extended.vxlan.topology.interfaces.modes.mpls_loopback.count > 0)

# ----------------------------------------------------------------------
# Manage Interface Dot1q Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Interface Dot1q in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.interface_dot1q }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.dot1q.count > 0

# ----------------------------------------------------------------------
# Manage Interface vPC Configuration in Nexus Dashboard
# ----------------------------------------------------------------------

- name: Manage Interface vPC in Nexus Dashboard
  cisco.dcnm.dcnm_interface:
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    state: replaced
    config: "{{ vars_common_local.interface_vpc }}"
  when: data_model_extended.vxlan.topology.interfaces.modes.access_vpc.count > 0 or data_model_extended.vxlan.topology.interfaces.modes.trunk_vpc.count > 0

## Will discuss with team and switchover to the below code and remove the above code
# # --------------------------------------------------------------------
# # Manage Interface All Configuration in Nexus Dashboard
# # --------------------------------------------------------------------

# - name: Manage Interface All in Nexus Dashboard
#   cisco.dcnm.dcnm_interface:
#     fabric: "{{ data_model_extended.vxlan.fabric.name }}"
#     state: replaced
#     config: "{{ vars_common_local.interface_all }}"
#   vars:
#       ansible_command_timeout: 3000
#       ansible_connect_timeout: 3000
#   when: data_model_extended.vxlan.topology.interfaces.modes.all.count > 0
#   delegate_to: localhost
