---

# TODO: Modify the dcnm_inventory module to only discover/clean the device
# and set the role for the device.  Deploy of config would happen using the
# dtc.deploy role.

- name: Add NDFC Fabric Devices {{ MD.fabric.global.name }}
  cisco.dcnm.dcnm_inventory:
    fabric: "{{ MD.fabric.global.name }}"
    config: "{{ inv_config }}"
    deploy: false
    save: true
    state: merged
  vars:
      ansible_command_timeout: 3000
      ansible_connect_timeout: 3000
  when: MD_Extended.fabric.topology.switches | length > 0

- name: Set NDFC Fabric Device Hostnames
  cisco.dcnm.dcnm_policy:
    fabric: "{{ MD.fabric.global.name }}"
    config: "{{ hostname_policy_config }}"
    deploy: false
    state: merged
