---

- name: Manage Fabric Entry Point
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Manage Fabric {{ MD.vxlan.global.name }}"
      - "----------------------------------------------------------------"

- debug: msg="{{ fabric_config }}"

- name: Manage fabric {{ MD.vxlan.global.name }} in NDFC
  cisco.dcnm.dcnm_fabric:
    state: merged
    config: "{{ fabric_config }}"
