# Copyright (c) 2025 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

# - name: Import iBGP VXLAN Fabric Role Tasks
#   ansible.builtin.import_tasks: sub_main_vxlan.yml
#   when: >
#     (MD_Extended.vxlan.fabric.type == 'VXLAN_EVPN') and
#     (vars_common_vxlan.changes_detected_fabric) or
#     (vars_common_vxlan.changes_detected_inventory) or
#     (vars_common_vxlan.changes_detected_vpc_peering) or
#     (vars_common_vxlan.changes_detected_interfaces) or
#     (vars_common_vxlan.changes_detected_link_vpc_peering) or
#     (vars_common_vxlan.changes_detected_vrfs) or
#     (vars_common_vxlan.changes_detected_networks) or
#     (vars_common_vxlan.changes_detected_policy) or
#     (vars_common_vxlan.changes_detected_edge_connections) or
#     (vars_common_vxlan.changes_detected_fabric_links) or
#     (vars_common_vxlan.changes_detected_underlay_ip_address) or
#     (vars_common_vxlan.changes_detected_vpc_domain_id_resource)

# - name: Import eBGP VXLAN Fabric Role Tasks
#   ansible.builtin.import_tasks: sub_main_ebgp_vxlan.yml
#   when: >
#     (MD_Extended.vxlan.fabric.type == 'eBGP_VXLAN') and
#     (vars_common_ebgp_vxlan.changes_detected_fabric) or
#     (vars_common_ebgp_vxlan.changes_detected_inventory) or
#     (vars_common_ebgp_vxlan.changes_detected_vpc_peering) or
#     (vars_common_ebgp_vxlan.changes_detected_link_vpc_peering) or
#     (vars_common_ebgp_vxlan.changes_detected_policy) or
#     (vars_common_ebgp_vxlan.changes_detected_interfaces) or
#     (vars_common_ebgp_vxlan.changes_detected_vrfs) or
#     (vars_common_ebgp_vxlan.changes_detected_networks)

# - name: Import ISN Fabric Role Tasks
#   ansible.builtin.import_tasks: sub_main_isn.yml
#   when: >
#     (MD_Extended.vxlan.fabric.type == 'ISN') and
#     (vars_common_isn.changes_detected_fabric) or
#     (vars_common_isn.changes_detected_inventory) or
#     (vars_common_isn.changes_detected_interfaces) or
#     (vars_common_isn.changes_detected_policy)

# - name: Import MSD Fabric Role Tasks
#   ansible.builtin.import_tasks: sub_main_msd.yml
#   when: >
#     (MD_Extended.vxlan.fabric.type == 'MSD')

# # Check with Matt and Pete on External Fabrics
# - name: Import External Fabric Role Tasks
#   ansible.builtin.import_tasks: sub_main_external.yml
#   when: >
#     (MD_Extended.vxlan.fabric.type == 'External') and
#     (vars_common_external.changes_detected_inventory) or
#     (vars_common_external.changes_detected_interfaces) or
#     (vars_common_external.changes_detected_fabric) or
#     (vars_common_external.changes_detected_interface_access_po) or
#     (vars_common_external.changes_detected_interface_access) or
#     (vars_common_external.changes_detected_interface_loopback) or
#     (vars_common_external.changes_detected_interface_po_routed) or
#     (vars_common_external.changes_detected_interface_routed) or
#     (vars_common_external.changes_detected_interface_trunk_po) or
#     (vars_common_external.changes_detected_interface_trunk) or
#     (vars_common_external.changes_detected_sub_interface_routed) or
#     (vars_common_external.changes_detected_policy)

- debug: msg="{{ change_flags }}"

- name: Import iBGP VXLAN Fabric Role Tasks
  ansible.builtin.import_tasks: sub_main_vxlan.yml
  when:
    - MD_Extended.vxlan.fabric.type == 'VXLAN_EVPN'
    - change_flags.changes_detected_any

- name: Import eBGP VXLAN Fabric Role Tasks
  ansible.builtin.import_tasks: sub_main_ebgp_vxlan.yml
  when:
    - MD_Extended.vxlan.fabric.type == 'eBGP_VXLAN'
    - change_flags.changes_detected_any

- name: Import ISN Fabric Role Tasks
  ansible.builtin.import_tasks: sub_main_isn.yml
  when:
    - MD_Extended.vxlan.fabric.type == 'ISN'
    - change_flags.changes_detected_any

- name: Import MSD Fabric Role Tasks
  ansible.builtin.import_tasks: sub_main_msd.yml
  when: MD_Extended.vxlan.fabric.type == 'MSD'

- name: Import External Fabric Role Tasks
  ansible.builtin.import_tasks: sub_main_external.yml
  when:
    - MD_Extended.vxlan.fabric.type == 'External'
    - change_flags.changes_detected_any

- name: Mark Stage Role Create Completed
  cisco.nac_dc_vxlan.common.run_map:
    model_data: "{{ MD_Extended }}"
    stage: role_create_completed
  register: run_map
  delegate_to: localhost
