---

- name: Role Entry Point - [cisco.nac_dc_vxlan.dtc.create]
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Calling Role - [cisco.nac_dc_vxlan.dtc.create]           +"
      - "----------------------------------------------------------------"

- ansible.builtin.debug: msg="Configuring NXOS Devices using NDFC (Direct to Controller)"

- fail: msg="Service Model Not Defined.  Role cisco.csc.prepare_model Must Be Called First"
  when: MD is undefined

- meta: end_play

- name: Create NDFC Fabric
  ansible.builtin.include_tasks: fabric.yml
  when: MD.fabric.global is defined

- name: Manage NDFC Fabric Switches
  ansible.builtin.include_tasks: devices.yml
  when: MD_Extended.fabric.topology.switches | length > 0

# - name: Manage VPC Peering
#   ansible.builtin.include_tasks: vpc.yml
#   when: MD.fabric.overlay_services is defined

- name: Manage NDFC Fabric Interfaces
  ansible.builtin.include_tasks: interfaces.yml
  when: (MD_Extended.fabric.topology.interfaces.modes.all.count >0) and (MD_Extended.fabric.topology.switches | length > 0)


- name: Manage NDFC Fabric VRFs and Networks
  ansible.builtin.include_tasks: vrfs_networks.yml
  when: (MD.fabric.overlay_services is defined) and (MD_Extended.fabric.topology.switches | length > 0)

# - name: Manage NDFC VRF-Lite Extensions
#   ansible.builtin.include_tasks: vrflite.yml
#   when: MD.fabric is defined

# - name: Manage NDFC Templates
#   ansible.builtin.include_tasks: templates.yml
#   when: MD.fabric is defined

# - name: Manage NDFC Policies
#   ansible.builtin.include_tasks: policies.yml
#   when: MD.fabric is defined

# Other areas to enable
# 1. Diff between git source data model files and only call stage that is needed.
# 2. Build data model from NDFC queries (brown field) DTC feature only