# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---

- name: Role Entry Point - [cisco.nac_dc_vxlan.dtc.create]
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Calling Role - [cisco.nac_dc_vxlan.dtc.create]           +"
      - "----------------------------------------------------------------"
  tags: "{{ nac_tags.create }}" # Tags defined in roles/common_global/vars/main.yml

- name: Display Device Configuration Method
  ansible.builtin.debug:
    msg: "Configuring NXOS Devices using Nexus Dashboard (Direct to Controller)"
  tags: "{{ nac_tags.create }}"

- name: Create MSD Fabric in Nexus Dashboard
  ansible.builtin.import_tasks: common/fabric.yml
  when:
    - data_model_extended.vxlan.fabric.name is defined
    - data_model_extended.vxlan.fabric.type == "MSD"
    - change_flags.changes_detected_fabric
  tags: "{{ nac_tags.create_fabric }}"

- name: Manage MSD Fabric Child Fabrics in Nexus Dashboard
  ansible.builtin.import_tasks: msd/child_fabrics.yml
  when:
    - data_model_extended.vxlan.multisite.child_fabrics is defined
    - data_model_extended.vxlan.multisite.child_fabrics | length > 0
  tags: "{{ nac_tags.create_fabric }}"

- name: Config-Save Block to Propagate Child Fabrics MSD Fabric in Nexus Dashboard
  tags: "{{ nac_tags.create_fabric }}"
  block:
    - name: Config-Save for MSD Fabric in Nexus Dashboard
      cisco.dcnm.dcnm_rest:
        method: POST
        path: "/appcenter/cisco/ndfc/api/v1/lan-fabric/rest/control/fabrics/{{ data_model_extended.vxlan.fabric.name }}/config-save"
      when:
        - data_model_extended.vxlan.multisite.child_fabrics | length > 0
      register: config_save

  rescue:
    - name: Config-Save for MSD Fabric in Nexus Dashboard - Failed
      ansible.builtin.debug:
        msg: "{{ config_save.msg.DATA }}"
      when:
        - config_save.msg.RETURN_CODE is defined
        - config_save.msg.RETURN_CODE == 500

- name: Prepare Multisite Data
  cisco.nac_dc_vxlan.dtc.prepare_msite_data:
    data_model: "{{ data_model_extended }}"
    parent_fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    parent_fabric_type: "{{ data_model_extended.vxlan.fabric.type }}"
    nd_version: "{{ nd_version }}"
  register: runtime_msd_data_model
  tags: "{{ nac_tags.create_vrfs_networks }}"

- name: Create Border Gateway Site Anycast VIP Loopback in Nexus Dashboard
  cisco.dcnm.dcnm_resource_manager:
    state: merged
    fabric: "{{ data_model_extended.vxlan.fabric.name }}"
    config: "{{ vars_common_msd.bgw_anycast_vip }}"
  when:
    - (runtime_msd_data_model.child_fabrics_data
      | dict2items
      | selectattr('value.attributes', 'defined')
      | selectattr('value.attributes.STATIC_UNDERLAY_IP_ALLOC', 'defined')
      | selectattr('value.attributes.STATIC_UNDERLAY_IP_ALLOC', 'in', ["true", true])
      | map(attribute='key')
      | list
      | length > 0)
    - vars_common_msd.bgw_anycast_vip | length > 0
    - change_flags.changes_detected_bgw_anycast_vip

- name: Manage MSD Fabric VRFs and Networks in Nexus Dashboard
  ansible.builtin.import_tasks: msd/vrfs_networks.yml
  when:
    - data_model_extended.vxlan.multisite.overlay is defined
    - data_model_extended.vxlan.multisite.overlay
  tags: "{{ nac_tags.create_vrfs_networks }}"
