# Copyright (c) 2024 Cisco Systems, Inc. and its affiliates
#
# Permission is hereby granted, free of charge, to any person obtaining a copy of
# this software and associated documentation files (the "Software"), to deal in
# the Software without restriction, including without limitation the rights to
# use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
# the Software, and to permit persons to whom the Software is furnished to do so,
# subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
# FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
# COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
# IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
# CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
#
# SPDX-License-Identifier: MIT

---
- name: Manage VRFs and Networks Entry Point
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Manage VRFs and Networks Fabric {{ MD.vxlan.global.name }}"
      - "----------------------------------------------------------------"

# --------------------------------------------------------------------
# Manage VRF Configuration on NDFC
# --------------------------------------------------------------------
- name: Manage NDFC Fabric VRFs
  cisco.dcnm.dcnm_vrf:
    fabric: "{{ MD.vxlan.global.name }}"
    state: replaced
    config: "{{ vrf_config }}"
  register: manage_vrf_result
  when:
    - MD.vxlan.overlay_services.vrfs is defined
    - MD.vxlan.overlay_services.vrfs
    - changes_detected_vrfs
    - MD.vxlan.global.fabric_type != 'MFD'

# --------------------------------------------------------------------
# Manage VRF Configuration for Federated NDFCs
# --------------------------------------------------------------------

- name: set filename for federated
  set_fact:
    file_name: "{{ MD.vxlan.global.name }}_fed_attach_vrfs.yml"
  when:
    - MD.vxlan.overlay_services.vrfs is defined
    - changes_detected_vrfs
    - MD.vxlan.global.fabric_type == 'MFD'

- name: load VRF federated details from file
  ansible.builtin.set_fact:
    fed_vrf_config: "{{ lookup('file', role_path + '/../common/files/' + file_name) | from_json }}"
  when:
    - MD.vxlan.overlay_services.vrfs is defined
    - changes_detected_vrfs
    - MD.vxlan.global.fabric_type == 'MFD'

- name: Get existing VRFs in Federated Fabric
  cisco.dcnm.dcnm_rest:
    method: GET
    path: "/appcenter/cisco/ndfc/api/v1/onemanage/top-down/fabrics/{{ MD.vxlan.global.name }}/vrfs"
  register: dcnm_vrf_existing
  when:
    - MD.vxlan.overlay_services.vrfs is defined
    - changes_detected_vrfs
    - MD.vxlan.global.fabric_type == 'MFD'

- name: Manage NDFC Fabric VRFs for Federated
  include_tasks: vrf_fed_config.yml
  loop: "{{ fed_vrf_config }}"
  loop_control:
    loop_var: vrf
  when:
    - MD.vxlan.overlay_services.vrfs is defined
    - changes_detected_vrfs
    - MD.vxlan.global.fabric_type == 'MFD'

# --------------------------------------------------------------------
# Manage Loopback VRF attachments on NDFC
# --------------------------------------------------------------------
- name: Attach VRF Loopbacks per VRF
  include_tasks: vrf_loopbacks.yml
  loop_control:
    loop_var: vrf
  loop: "{{ MD.vxlan.overlay_services.vrfs }}"
  when:
    - MD.vxlan.overlay_services.vrfs is defined
    - changes_detected_vrfs

# --------------------------------------------------------------------
# Manage Network Configuration on NDFC
# --------------------------------------------------------------------
- name: Manage NDFC Fabric Networks
  cisco.dcnm.dcnm_network:
    fabric: "{{ MD.vxlan.global.name }}"
    state: replaced
    config: "{{ net_config }}"
  register: manage_network_result
  when:
    - MD.vxlan.overlay_services.networks is defined
    - MD.vxlan.overlay_services.networks
    - changes_detected_networks
    - MD.vxlan.global.fabric_type != 'MFD'

# --------------------------------------------------------------------
# Manage Network Configuration for Federated NDFCs
# --------------------------------------------------------------------
- name: Query existing network.switches_to_attach.split in Federated Fabric
  cisco.dcnm.dcnm_rest:
    method: GET
    path: "/appcenter/cisco/ndfc/api/v1/onemanage/top-down/fabrics/{{MD.vxlan.global.name}}/networks"
  register: fed_networks_existing
  when:
    - MD.vxlan.overlay_services.networks is defined
    - changes_detected_networks
    - MD.vxlan.global.fabric_type == 'MFD'

- name: Manage NDFC Fabric Networks for Federated
  include_tasks: network_fed_config.yml
  loop: "{{ net_config }}"
  loop_control:
    loop_var: network
  when:
    - MD.vxlan.global.fabric_type == 'MFD'
    - MD.vxlan.overlay_services.networks is defined
    - changes_detected_networks

- name: Attach switches for all networks
  cisco.dcnm.dcnm_rest:
    path: "/appcenter/cisco/ndfc/api/v1/onemanage/top-down/fabrics/networks/attachments"
    method: "POST"
    json_data: "{{ network_switches | to_json}}"
  when:
    - MD.vxlan.global.fabric_type == 'MFD'
    - MD.vxlan.overlay_services.networks is defined
    - changes_detected_networks

- name: Attach network to switches and ports for all networks
  cisco.dcnm.dcnm_rest:
    path: "/appcenter/cisco/ndfc/api/v1/onemanage/top-down/fabrics/networks/multiattach"
    method: "POST"
    json_data: "{{ network_switches_ports | to_json}}"
  when:
    - MD.vxlan.global.fabric_type == 'MFD'
    - MD.vxlan.overlay_services.networks is defined
    - changes_detected_networks
