---

- name: Manage VRFs and Networks Entry Point
  ansible.builtin.debug:
    msg:
      - "----------------------------------------------------------------"
      - "+     Manage VRFs and Networks Fabric {{ MD.fabric.global.name }}"
      - "----------------------------------------------------------------"

# --------------------------------------------------------------------
# Manage VRF Configuration on NDFC
# --------------------------------------------------------------------
- name: Manage NDFC Fabric VRFs
  cisco.dcnm.dcnm_vrf:
    fabric: "{{ MD.fabric.global.name }}"
    state: replaced
    config: "{{ vrf_config }}"
  register: manage_vrf_result
  when: MD.fabric.overlay_services.vrfs

# --------------------------------------------------------------------
# Manage Network Configuration on NDFC
# --------------------------------------------------------------------
- name: Manage NDFC Fabric Networks
  cisco.dcnm.dcnm_network:
    fabric: "{{ MD.fabric.global.name }}"
    state: replaced
    config: "{{ net_config }}"
  register: manage_network_result
  when: MD.fabric.overlay_services.networks