{% if policy_types["ipv4_access_lists"] is defined %}
    {% include "ndfc_route_control/access_list/ndfc_route_control_access_list_ipv4.j2" %}
{% endif %}
{% if policy_types["ipv6_access_lists"] is defined %}
    {% include "ndfc_route_control/access_list/ndfc_route_control_access_list_ipv6.j2" %}
{% endif %}