# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the develop branch
  push:
    branches: [ develop, main ]
  pull_request:
    branches: [ develop, main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

  # A workflow run is made up of one or more jobs that can run sequentially or in parallel

jobs:
  build:
    name: Build DC VXLAN collection
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ansible: [2.14.15, 2.15.10, 2.16.5, 2.17.8]
    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Set up Python 3.11.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.11.9

    - name: Install ansible-base (v${{ matrix.ansible }})
      run: pip install https://github.com/ansible/ansible/archive/v${{ matrix.ansible }}.tar.gz --disable-pip-version-check

    - name: Build a DCNM collection tarball
      run: ansible-galaxy collection build --output-path "${GITHUB_WORKSPACE}/.cache/collection-tarballs"

    - name: Store migrated collection artifacts
      uses: actions/upload-artifact@v4
      with:
        name: collection-${{ matrix.ansible }}
        path: .cache/collection-tarballs

  sanity:
    name: Sanity (Ⓐ${{ matrix.ansible }})
    needs:
      - build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ansible: [2.14.15, 2.15.10, 2.16.5, 2.17.8]
        python: ['3.11']
    steps:
    - name: Set up Python 3.11.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.11.9

    - name: Upgrade pip
      run: |
        pip install --upgrade pip

    - name: Install ansible-base (v${{ matrix.ansible }})
      run: pip install https://github.com/ansible/ansible/archive/v${{ matrix.ansible }}.tar.gz --disable-pip-version-check

    - name: Download migrated collection artifacts
      uses: actions/download-artifact@v4
      with:
        name: collection-${{ matrix.ansible }}
        path: .cache/collection-tarballs

    - name: Install the collection tarball
      run: ansible-galaxy collection install .cache/collection-tarballs/*.tar.gz

    - name: Run sanity tests
      run: ansible-test sanity --docker --python ${{matrix.python}} -v --color --truncate 0
      working-directory: /home/runner/.ansible/collections/ansible_collections/cisco/nac_dc_vxlan

  unit:
    name: Unit (Ⓐ${{ matrix.ansible }})
    needs:
      - build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ansible: [2.14.15, 2.15.10, 2.16.5, 2.17.8]
        python: ['3.11']
    steps:
    - name: Set up Python 3.11.9
      uses: actions/setup-python@v5
      with:
        python-version: 3.11.9

    - name: Upgrade pip
      run: |
        pip install --upgrade pip

    - name: Install ansible-base (v${{ matrix.ansible }})
      run: pip install https://github.com/ansible/ansible/archive/v${{ matrix.ansible }}.tar.gz --disable-pip-version-check

    - name: Download migrated collection artifacts
      uses: actions/download-artifact@v4
      with:
        name: collection-${{ matrix.ansible }}
        path: .cache/collection-tarballs

    - name: Install iac-validate (v0.2.7)
      run: pip install iac-validate==0.2.7

    - name: Install coverage (v7.9.2)
      run: pip install coverage==7.9.2

    - name: Install pytest (v8.4.1)
      run: pip install pytest==8.4.1

    - name: Install the collection tarball
      run: ansible-galaxy collection install .cache/collection-tarballs/*.tar.gz

    - name: Run unit tests
      run: coverage run --source=. -m pytest tests/unit/. -vvvv
      working-directory: /home/runner/.ansible/collections/ansible_collections/cisco/nac_dc_vxlan

    - name: Generate coverage report
      run: coverage report --include="plugins/*"
      working-directory: /home/runner/.ansible/collections/ansible_collections/cisco/nac_dc_vxlan
